.credit-card {
  height: 200px;
  width: 350px;
  background-color: rgb(59, 70, 224);
  border-radius: 20px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  color: #fff;
}

.card-header {
  margin: 10px;
}

.card-details-1 {
  display: flex;
  justify-content: space-between;
}

.form {
  width: 800px;
  height: 500px;
  margin-left: 250px;
}